<template>
    <div>
        <div class="text_wrapper"><h1>Gal _ ery</h1></div>
            <!--div class="gallery_focus" style="background:url(./assets/background.jpg); background-size: cover;" ></div>-->

            <!--<div class="gallery_focus_wrapper">
                    <div class="image_card">
                        <img class="gallery_focus" src="./assets/background.jpg"/>
                        <div class="gallery_text" id="gallery_text"><h2>Lorem Ipsum</h2> <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p></div>
                    </div>
            </div>-->
            <div class="gallery_front gallery">
                <img class="gallery_focus" src="../assets/background.jpg"/>
                <img class="img_front" src="../assets/background.jpg"/>
                <img class="img_front" src="../assets/background.jpg"/>
                <img class="img_front" src="../assets/background.jpg"/>
                <img class="img_front" src="../assets/background.jpg"/>
                <img class="img_front" src="../assets/background.jpg"/>
                <img class="img_front" src="../assets/background.jpg"/>
                <img class="img_front" src="../assets/background.jpg"/>
                <img class="img_front" src="../assets/background.jpg"/>
            </div>
            <div class="gallery_backup gallery" >
                <img class="gallery_focus" src="../assets/background.jpg"/>
                <img class="img_backup" src="../assets/background.jpg"/>
                <img class="img_backup" src="../assets/background.jpg"/>
                <img class="img_backup" src="../assets/background.jpg"/>
                <img class="img_backup" src="../assets/background.jpg"/>
                <img class="img_backup" src="../assets/background.jpg"/>
                <img class="img_backup" src="../assets/background.jpg"/>
                <img class="img_backup" src="../assets/background.jpg"/>
                <img class="img_backup" src="../assets/background.jpg"/>
            </div>
    </div>
</template>

<script>
export default {
  name: 'Gallery',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  }
}
</script>

<style>
 body{
        margin:0;
        overflow-x:hidden;

    }

    h2{
        margin-top:0;
    }

    .text_wrapper{
        position:fixed;
        right:70px;
        top:0;
        transform: rotate(180deg);
        font-size:2em;
    }

    .gallery_focus{
        z-index: 1;
        margin-left:-48vw;
        height:auto;
        width:55vw;
        transition: all ease 1s;
        top:0;
        position:fixed;
    }

    .gallery_text{
        left:2vw;
        height: fill;
        width:100%;
        background-color:rgba(255,255,255,0.7);
        padding:10px;
        padding-bottom:30px;
        box-sizing: border-box;
    }

    .gallery_front{
        position:absolute;
        top:0;
      }

    .gallery_backup{
    }

    .gallery{
        margin-left: 50vw;
        width: 32.5vw;
        height: auto;
        margin-top:71px;
        margin-bottom:70px;
    }

    .img_front{
        width:100%;
        height: auto;
        filter:blur(2px);
        transition:all ease 1s;
    }

    .img_front:hover{
        filter:blur(0px);
    }
    .img_backup{
        width:100%;
        height: auto;
    }

</style>
